<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarta de frutillas</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    <h1>Tarta de frutillas</h1>
    <img width="500" height="250" src="../img/Tarta-Frutillas.jpg" alt="Tarta de Frutillas">
    <P>Tarta dulce de frutlla y crema para compartir en estas tardes de primavera.</P>
    <br>
    <hr>
    <H2>Ingredientes para la masa</H2>
    <ul type="square">
        <li>100 g de manteca apta para celíacos</li>
        <li>1 huevo</li>
        <li>1 yema</li>
        <li>1 cucharadita de esencia de vainilla apta</li>
        <li>150 g de almidón de maíz</li>
        <li>75 g de harina de arroz</li>
        <li>75 g de fécula de mandioca</li>
        <li>100 g de azúcar impalpable apta</li> 
    </ul>
    <h2>Ingredientes para el relleno</h2>
    <ul type="square">
        <li>100 g de dulce de frutillas apto</li>
        <li>500 cc de crema de leche apta</li>
        <li>5 cucharadas de azúcar impalpable apta</li>
        <li>250 g de frutillas</li>
    </ul>
    <h2>Preparación</h2>
    <ol type="i">
        <li>Procesar la manteca con el huevo, la yema y la vainilla. Agregar los ingredientes secos y procesar hasta formar una masa granulosa. Retirar un cuarto de la mezcla y procesar el resto hasta obtener una masa.</li>
        <li>Forrar el molde y hornear. Untarla con mermelada de frutillas.
        <li>la crema de leche con el azúcar impalpable. Colocarla en una manga y cubrir la mermelada.</li>    
        <li>Decorar con frutillas fileteadas.</li>    
        </ol>
        <iframe width="500" height="250" src="https://www.youtube.com/embed/Eqv7X1uJshg" title="Tarta de frutillas sin gluten (sin TACC) apta para celíacos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>    
    <br>
    <a href="https://www.clarin.com/recetas/pasteleria/tarta-frutilla-tacc_7_rkD4_Rvza.html" target="_blank">
        Leer esta receta en <strong>Clarin recetas</strong> 
    </a>
    <br>
    <a href="instructivo2.html">
    Leer receta en <em>Panqueques</em>
    </a>
    <br>        
    <a href="../../index.html">
        Volver a inicio
    </a>
</body>
</html>